<div class="original">
    <div class="top-nav-bar">
       
     <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">
         <mat-icon class="back">arrow_back_ios</mat-icon>
     </a>
        <mat-icon class="menu">menu</mat-icon>
    </div>

    <div class="process">
        <mat-icon class="check">check_circle_outline</mat-icon><p class="text_2">Style</p><hr class="line" color="#361B1B">
            <mat-icon class="check">check_circle_outline</mat-icon><p class="text_2">Material</p><hr class="line" color="#361B1B">
            <mat-icon class="check size">check_circle_outline</mat-icon><p class="text_2">Size</p>
    </div>

    <div class="design_shoe">
        <mat-icon class="love">favorite</mat-icon>
        <mat-icon class="share">share</mat-icon>
        <img src="assets/images/designshoe.jpg" alt="shoe being designed" class="shoe_design"/>
    </div>

    <div class="bottom-nav-bar">
        
    </div>

</div>
