.original {
    background-color: #646464;
    height: 100vh;
    margin: 0;
}

.bottom-nav-bar {
    background-color: #D9D9D9;
    position: fixed;
    height: 10vh;
    width: 100%;
    bottom: 0;
    z-index: 10;
    left: 0;
    right: 0;
}