<div class="body">

<div class="main_form">
<div class="login_form">
    <input class="email" placeholder="Email:">
    <input class="password" placeholder="Password:">
    <button class="login_button">Login</button>
    <a routerLink="/forgotpassword" routerLinkActive="active" ariaCurrentWhenActive="page">
        <p class="forgot">Forgot Password</p>
    </a>
   
</div>

<div class="login_alternatives">
    <p class="login">Login with</p>
    <div class="icons">
        <img src="assets/images/twitter.png" alt="twitter">
        <img src="assets/images/facebook.png" alt="facebook">
        <img src="assets/images/google.png" alt="google">
        <img src="assets/images/instagram.png" alt="instagram">
    </div>

</div>

</div>


<div class="new">
    <p class="new">New?</p>

    <a routerLink="/signup" routerLinkActive="active" ariaCurrentWhenActive="page">
        <button class="signup">Sign Up</button>
    </a>
    
</div>
</div>
