<div class="original">
    <div class="top-nav-bar">
       
        <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">
            <mat-icon class="back">arrow_back_ios</mat-icon>
        </a>
           <mat-icon class="menu" (click)="openMenu()">menu</mat-icon>
       </div>


       <div class="content">
        <div class="top_left">
            <div class="one">
                <div class="a">
                    <img src="assets/images/belt.png" alt="belt items" class="shoe"/>
                    
                    <a routerLink="/belt" routerLinkActive="active" ariaCurrentWhenActive="page">
                    <p class="edit">EDIT</p>
                </a>
                </div>
                <div class="b">
                    <p class="words">Black leather belt
                        with single loop and
                        frame buckle. 44’’</p>
                </div>
                <div class="c">
                    <p class="money">$30</p>
                </div>

            </div>
            <div class="two">
                <div class="a">
                    <img src="assets/images/designshoe.jpg" alt="shoe items" class="shoe"/>
                    <a routerLink="/shoe" routerLinkActive="active" ariaCurrentWhenActive="page">
                        <p class="edit">EDIT</p>
                    </a>
                </div>
                <div class="b">
                    <p class="words">
                        Leather brogues
                        with rubber sole.
                        Size: 44.
                    </p>

                </div>
                <div class="c">
                    <p class="money">$100</p>
                </div>

            </div>

        </div>

        <div class="bottom_right">
            <h3>ESTIMATED DELIVERY TIME: 10 Business Days</h3>

            <div class="one">
                <p class="subtotal">SUBTOTAL</p>
                <p class="subtotal_price">$200</p>
            </div>

            <div class="two">
                <p class="shipping">SHIPPING</p>
                <p class="shipping_price">$30</p>
            </div>

            <div class="three">
                <p class="total">TOTAL COST</p>
                <p class="total_price">$230</p>

            </div>

        </div>

       </div>

     
         <a routerLink="/checkout" routerLinkActive="active" ariaCurrentWhenActive="page">
            <button class="proceed">
                Proceed to checkout
                 </button>
        </a>

    <div class="bottom-nav-bar">
        <ul>
          <li>
            <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">
                <img src="assets/images/logo.jpg" alt="logo links to home page">
            </a>
          </li> 
          <li>
            <a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">
                <img src="assets/images/user.png" alt="user links to login">
            </a>
          </li> 
          <li>
            <a routerLink="/cart" routerLinkActive="active" ariaCurrentWhenActive="page">
                <img src="assets/images/cart.png" alt="cart links to cart">
            </a>
          </li> 
        </ul>

</div>

</div>