.original {
    background-color: #BCBBB7;
    height: 100vh;
    margin: 0;
}

.bottom-nav-bar {
    background-color: #D9D9D9;
    position: fixed;
    height: 7vh;
    width: 100%;
    bottom: 0;
    padding-top: 1%;
    display: flex;
    justify-content: center;
    z-index: 10;
    left: 0;
    right: 0;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        list-style-type: none;
        width: 100%;
        margin: 0;
        display: flex;
        justify-content: space-evenly;
        padding: 0;
      }

    li {
        display: inline;
    }

    li a:hover {
        background-color: #BCBBB7;
      }

    img {
        width: 50px;
        height: 50px;
    }
}

.top-nav-bar {
    background-color: #D9D9D9;
    height: 8vh;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    display: flex;
    justify-content: space-between;
}

.back, .menu {
    color: #FFFFFF;
    width: 10vw;
    height: 5vh;
    font-size: 50px;
}

.content {
    width: 90%;
    margin: auto;
    margin-top: 4%;
    margin-bottom: 5%;
    display: flex;

    .top_left {
        width: 49%;
        margin-right: 4%;

        .one {
            display: flex;
            justify-content: space-evenly;
            margin-bottom: 2%;

            .a {
                padding-right: 2%;

                img {
                    width: 25vw;
                    height: 25vh;
                }

                .edit {
                    font-size: 3vh;
                    color: #ffffff;
                }

                a {
                    text-decoration: none;
                }
            }

            .b {
                padding-right: 2%;

                .words {
                    color: #000000;
                    font-family: "Inter";
                    font-size: 2.5vh;
                    font-weight: 400;
                    padding-top: 30%;
                }
            }

            .c {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 600;
                padding-top: 10%;
                font-size: 2.5vh;
            }
        }

        .two {
            display: flex;
            justify-content: space-evenly;
            margin-bottom: 2%;

            .a {
                padding-right: 2%;

                img {
                    width: 25vw;
                    height: 25vh;
                }

                .edit {
                    font-size: 3vh;
                    color: #ffffff;
                }

                a {
                    text-decoration: none;
                }
            }

            .b {
                padding-right: 2%;

                .words {
                    color: #000000;
                    font-family: "Inter";
                    font-size: 2.5vh;
                    font-weight: 400;
                    padding-top: 30%;
                }
            }

            .c {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 600;
                padding-top: 10%;
                font-size: 2.5vh;
            }
        }
    }

    .bottom_right {
        width: 45%;

        h3 {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 2.2vh;
            margin-bottom: 5%;
        }

        .one {
            display: flex;
            justify-content: space-between;
            font-size: 2.2vh;
            margin-bottom: 2%;

            .subtotal_price {
                font-weight: 600;
            }
        }

        .two {
            display: flex;
            justify-content: space-between;
            font-size: 2.2vh;
            margin-bottom: 2%;

            .shipping_price {
                font-weight: 600;
            }
        }

        .three {
            display: flex;
            justify-content: space-between;
            font-size: 2.2vh;
            font-weight: 600;

            .total_price {
                font-weight: 600;
            }
        }
    }
}

.proceed {
    width: 24%;
    height: 6vh;
    align-items: center;
    margin: auto;
    font-size: 2.4vh;
    justify-content: center;
    display: flex;
    font-family: 'Josefin Slab';
    color: #ededed;
    background-color: #361b1b;
}

.proceed:hover {
    background-color: #EDEDED;
    color: #361B1B;
}

a {
    text-decoration: none;
}



@media only screen and (max-width: 900px) {
    .top-nav-bar {
        height: 6vh;
    }

    .bottom-nav-bar {
        img {
            width: 30px;
            height: 30px;
        }
    }

    .back, .menu {
        font-size: 40px;
    }

    .content {
        flex-direction: column;

        .top_left {
            width: 100%;

            .one {
                .a {
                img {
                    width: 33vw;
                    height: 20vh;
                }

                .edit {
                    font-size: 2vh;
                }
             }

             .b {

                .words {
                    padding-top: 21%;
                }
             }
                
            }

            .two {

                .a {
                    img {
                        width: 33vw;
                        height: 20vh;
                    }

                    .edit {
                        font-size: 2vh;
                    }
                }

                .b {
                    .words {
                        padding-top: 21%;
                    }
                }
            }
        }

        .bottom_right {
            width: 100%;

            h3 {
                margin-top: 2%;
                margin-bottom: 4%;
            }
        }
    }

    .proceed {
        width: 44%;
        height: 7vh;
    }
}


@media only screen and (max-width: 600px) {
    .top-nav-bar {
        height: 5vh;
    }

    .back, .menu {
        font-size: 30px;
    }

    .content {
        .top_left {
            width: 100%;
    
            .one {
                .a {
                img {
                    width: 29vw;
                    height:16vh;
                }
                }

                .b {
                    .words {
                        font-size: 2vh;
                        padding-top: 15%;
                    }
                }
            }
    
            .two {
    
                .a {
                    img {
                        width: 29vw;
                        height: 16vh;
                    }
                }

                .b {
                    .words {
                        font-size: 2vh;
                        padding-top: 15%;
                    }
                }
            }
        }

        .bottom_right {
            margin-top: 2%;

            h3 {
                font-size: 1.5vh;
            }

            .one, .two, .three {
                font-size: 2vh;
            }
        }
    
    }

    .proceed {
        width: 55%;
        height: 7vh;
        margin-top: 25%;
    }
  
}