<div class="original">
    <div class="top-nav-bar">
        <img src="assets/images/menu.png">
    </div>


    <div class="words">
        <h2>CAN'T FIND YOUR SIZE?</h2>
        <p>For some models, sizes that are not available on the
            website can be offered to you. Please tell us your
            preferred size and we will get back to you. </p>
    </div>

    <div class="form">
        <p class="requested">Requested Size:</p>
        <input type="text" class="text"/>

        <p class="email">Email:</p>
        <input type="text" class="text"/>
        
    </div>

    <div class="buttons">
        <button class="size">Select Size</button>
        <button class="submit">Submit</button>
        
    </div>


<div class="bottom-nav-bar">
    <ul>
      <li>
        <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">
            <img src="assets/images/logo.jpg" alt="logo links to home page">
        </a>
      </li> 
      <li>
        <a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">
            <img src="assets/images/user.png" alt="user links to login">
        </a>
      </li> 
      <li>
        <a routerLink="/cart" routerLinkActive="active" ariaCurrentWhenActive="page">
            <img src="assets/images/cart.png" alt="cart links to cart">
        </a>
      </li> 
    </ul>

</div>

</div>
 