<div class="body">

    <div class="top-nav-bar">
           <img src="assets/images/menu.png">
       </div>



    

    <div class="bottom-nav-bar">
        <ul>
            <li>
              <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">
                  <img src="assets/images/logo.jpg" alt="logo">
              </a>
            </li> 
            <li>
              <a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">
                  <img src="assets/images/user.png" alt="user icon">
              </a>
            </li> 
            <li>
              <a routerLink="/cart" routerLinkActive="active" ariaCurrentWhenActive="page">
                  <img src="assets/images/cart.png" alt="cart">
              </a>
            </li> 
          </ul>
    </div>
</div>