<div class="body">

    <div class="top-nav-bar">
           <img src="assets/images/menu.png">
       </div>


       <div class="content">
        <div class="exclaim">
            <img src="assets/images/exclaim.png">
        </div>
        <div class="words">
            <h3>Forgot Password</h3>
            <p>Enter your email and we’ll send you a link to reset your password.</p>
            <input class="email" placeholder="Email:">
        </div>

            <button class="pay">
                Submit
            </button>

            

                 <a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">
                    <p class="back">Back to Login</p>
                </a>
       </div>

    

    <div class="bottom-nav-bar">
        <ul>
            <li>
              <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">
                  <img src="assets/images/logo.jpg" alt="logo">
              </a>
            </li> 
            <li>
              <a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">
                  <img src="assets/images/user.png" alt="user icon">
              </a>
            </li> 
            <li>
              <a routerLink="/cart" routerLinkActive="active" ariaCurrentWhenActive="page">
                  <img src="assets/images/cart.png" alt="cart">
              </a>
            </li> 
          </ul>
    </div>
</div>