<div class="pop-up">
    <div class="what-div">
        <p class="what">What would you</p>
        <p class="like"> like to design?</p>
    </div>
    

    <div class="button1">
        <a routerLink="/shoe" routerLinkActive="active" ariaCurrentWhenActive="page">
        <button matDialogClose>Shoes</button>
        </a>
        
    </div>
    <div class="button2">
        <a routerLink="/belt" routerLinkActive="active" ariaCurrentWhenActive="page">
        <button matDialogClose>Belts</button>
        </a>
        
    </div>
    
</div>
