<div class="body">

    <div class="top-nav-bar">
           <img src="assets/images/menu.png">
       </div>


    <div class="title">
        <h1 class="signup">Sign Up</h1>
        <p class="already">Already a member? 
            <a class='login' routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">
                Login
            </a>  
        </p>
    </div>

    <div class="signup_form">
        <input class="username" placeholder="Username:">
        <input class="email" placeholder="Email:">
        <input class="password" placeholder="Password:">
        <input class="confirmpassword" placeholder="Confirm Password:">
        <a routerLink="/profile" routerLinkActive="active" ariaCurrentWhenActive="page">
            <button class="signup_button">Sign Up</button>
        </a>
       
    </div>

    <div class="signup_alternatives">
        <p class="signup">Sign Up with</p>
        <div class="icons">
            <img src="assets/images/twitter.png" alt="twitter">
            <img src="assets/images/facebook.png" alt="facebook">
            <img src="assets/images/google.png" alt="google">
            <img src="assets/images/instagram.png" alt="instagram">
        </div>
    
    </div>
    

    <div class="bottom-nav-bar">
        <ul>
            <li>
              <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">
                  <img src="assets/images/logo.jpg" alt="logo">
              </a>
            </li> 
            <li>
              <a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">
                  <img src="assets/images/user.png" alt="user icon">
              </a>
            </li> 
            <li>
              <a routerLink="/cart" routerLinkActive="active" ariaCurrentWhenActive="page">
                  <img src="assets/images/cart.png" alt="cart">
              </a>
            </li> 
          </ul>
    </div>
</div>