
<div class="navbar" *ngIf="showNavbar">
        <ul>
          <li>
            <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">
                <img src="assets/images/logo.jpg">
            </a>
          </li> 
          <li>
            <a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">
                <img src="assets/images/user.png">
            </a>
          </li> 
          <li>
            <a routerLink="/cart" routerLinkActive="active" ariaCurrentWhenActive="page">
                <img src="assets/images/cart.png">
            </a>
          </li> 
        </ul>

  </div>


<div class="original">
    <app-carousel
    [images]="images"
    [autoSlide]="true"
    ></app-carousel>
    
    <div class="top">
        <p class="title">Essemmi</p>
        <p class="peak">Peak Elegance At Your Fingetips...</p>
    </div>

    <div class="message">
        
        <button class='chat' ><mat-icon (click)="openDialogg()">sms </mat-icon></button>
    </div>
    

    <div class="button">
                <!-- <a routerLink="/shoe" routerLinkActive="active" ariaCurrentWhenActive="page"> -->
                    <button class="explore" (click)="openDialog()">Explore</button>
                <!-- </a> -->
        
    </div>


    
</div>
<div class="custom">
    <p class="text_1">Custom shoes and belts in three easy steps</p>
    <p class="text_2"><mat-icon class="check">check_circle_outline</mat-icon>Style<mat-icon class="line">minimize</mat-icon>
        <mat-icon class="check">check_circle_outline</mat-icon> Material<mat-icon class="line">minimize</mat-icon> 
        <mat-icon class="check size">check_circle_outline</mat-icon>Size</p>

</div>

<div class="where">
    <p>Only your shoes know where you're going ...</p>
</div>

<div class="carousel2">
    <app-carousel2
    [images]="images"
    [autoSlide]="true"
    ></app-carousel2>
    
</div>


<div class="world">
    <p class="world_text">The world is at your feet,
                             so make sure you’re  
     wearing great shoes...</p>
</div>

<div class="footer">
    <p>About:</p>
    <p>Contact:</p>

</div>

