
.original {
    height: 100vh;
    margin: 0;
    background-color: #361B1B;
}

p {
    margin: 0;
}

.button {
    position: relative;
    top: 12%;
    display: flex;
    justify-content: center;
}

.explore {
    color: #361B1B;
    background-color: #EDEDED;
    font-size: 1.5rem;
    padding: 1% 3%;
}

.message {
    position: relative;
    color: #EDEDED;
    top: 18%;
    display: flex;
    margin-left: 80%;
    border-radius: 15px;

}

mat-icon {
    font-size: 3rem;
    width: auto;
    height: 100%;
}


@media only screen and (max-width: 600px) {
    .button {
        top: 3%;
        margin-left: -16%;
    }
}


