
.original {
    height: 100vh;
    margin: 0;
    background-color: #361B1B;
}

p {
    margin: 0;
}

.button {
    position: relative;
    top: 12%;
    display: flex;
    justify-content: center;
}

.explore {
    color: #361B1B;
    background-color: #EDEDED;
    font-size: 1.5rem;
    padding: 13% 37%;
}

.message {
    position: relative;
    color: #EDEDED;
    top: 10%;
    display: flex;
    margin-left: 70%;
    border-radius: 15px;

}

mat-icon {
    font-size: 3rem;
    width: auto;
    height: 100%;
}